*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}

.container{
    max-width: 1250px;
    margin: auto;
}

.btn{
    border-radius: 8px;
    padding: 8px 20px;
    background-color: #FF5400;
    color: white;
    border: none;
    font-weight: 600;
    cursor: grab;
}
.section-header{
    margin-bottom: 13px;
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
}
.section-header h2{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 8px;
}


/* Navigation bar  */
nav{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 7px 2px;
}

nav>div{
    display: flex;
    gap: 5px;
    align-items: center;
}
nav>div>img{
    width: 50px;
    height: 50px;
}
nav>div>h1{
    font-weight: 700;
    font-size: 26px;
}
nav>div>h1>span{
    color: #ff5400;
}

nav>ul{
    display: flex;
    gap: 5px;
    align-items: center;
    list-style: none;
}
nav > ul li a{
    color: #424247;
    text-decoration: none;
}

/* Banner styling  */

.banner-section{
    background-image: linear-gradient(rgba(157, 107, 107, 0.29), rgba(148, 27, 27, 0.543)), url('./img/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-top: 15px;
}
.banner-section> div >h2{
    font-weight: 700;
    font-size: 32px;
}
.banner-section > div > p{
    max-width: 650px;
}
.banner-section >div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.banner-section > div > form{
    background-color: rgba(255, 255, 255, 0.422);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.banner-section > div > form select,
.banner-section > div > form input [type="text"]{
    padding: 16px 16px;
    border-radius: 8px;
    background-color: #fff;
    display: block;
    font-size: 16px;
    outline: none;
    border: none;
    color: rgba(19,19, 24, 0.6);
}
.rounded-mic-parent {
    position: relative;
    /* background-color: red; */
}
.rounded-mic-parent .rounded-shape{
    width: 170px;
    height: auto;
}
.rounded-mic-parent  .mic{
    width: 70px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.rounded-mic-parent .new{
    background-color: green;
    color: black;
    font-weight: 700;
    padding: 6px 15px;
    border-radius: 20px;
    display: inline-block;
    position: absolute;
    left: 344px;
    top: -5px;
}

/* destination css  */

.destination-section{
    margin: 60px auto ;
}

.destination{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 10px;
}
.destination div:nth-child(1),
.destination div:nth-child(2){
    grid-column: span 6;
}
.destination div:nth-child(3){
    grid-column: span 4;
}
.destination div:nth-child(4){
    grid-column: span 5;
}
.destination div:nth-child(5){
    grid-column: span 3;
}
.destination div:nth-child(6){
    grid-column: span 8;
}
.destination div:nth-child(7){
    grid-column: span 4;
}
.destination div{
    position: relative;
}
.destination img{
    height: 100%;
    width: 100%;
}
.destination strong {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 30px;
    font-weight: 700;
}